body {
    
    font-family: 'Sen', sans-serif;

}

.container_num {
    background: #575757;
    border: 2px solid black;
    border-radius: 5%;
    margin: 0;
    padding: 10px;
    width: 300px;
    height: 360px;
    position: relative;
    left: 500px;
    box-sizing: border-box;
    
  
    display: grid;
    grid-template-columns: 60px 60px 60px auto;
    grid-template-rows: 60px 60px 60px 60px;
    grid-gap: 3px;  
    grid-template-areas: "n";

   
    align-content: end;
    
}

.item {
    font-size: 25px;
    background:#ECECEC;
    border: 1px solid #000;
    border-radius: 5%;
    text-align: center;
    margin: 3px;
    

}

.result {
    background: #BCD1C0;
    border: 1px solid #000;
    border-radius: 3px;
    width: 260px;
    height:60px;
    
    position: relative;
    bottom: 340px;
    left: 520px;

   
}

